html, body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.btn {
  width: 281px;
  height: 74px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 23px;  
  font-weight: 400;
  border-radius: 54px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-default {
    background-color: #2ba5cf;
    padding: 0 40px;
  }

  &-disabled {
    background-color: #c6c6c6;
  }

  &-link {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    padding: 24px 0;
    height: auto;
  }
}

.grid {
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }

  &-column {
    flex-direction: column;
  }

  &-v {
    &-between {
      justify-content: space-between;
    }
    &-center {
      align-items: center;
    }
    &-start {
      align-items: flex-start;
    }
  }
}

.ladines {
  &__container {
    width: 1330px;
    margin: auto;

    &--main {
      padding-bottom: 130px;
      padding-top: 473px;
      margin-top: 0px;
    }

    &--list {
      padding-bottom: 80px;
    }

    &--not-found {
      height: calc(100vh - 184px);
    }
  }

  &-header {
    &:after {
      background-image: linear-gradient(to right, #f79627 0%, #ee542e 19%, #b3407e 39%, #77417a 57%, #2264af 79%, #2faecd 100%);
      height: 8px;
      width: 100%;
      position: absolute;
      content: '';
      bottom: -8px;
    }
  }

  &-footer {
    &:before {
      background-image: linear-gradient(to right, #f79627 0%, #ee542e 19%, #b3407e 39%, #77417a 57%, #2264af 79%, #2faecd 100%);
      height: 8px;
      width: 100%;
      position: absolute;
      content: '';
      top: -8px;
    }
  }

  &-header,
  &-footer {
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.16);
    background-color: #141414;
    height: 96px;
    position: relative;

    &__link {
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      margin-right: 20px;
      text-decoration: none;
      font-weight: 700;

      &:hover {
        color: #2ba5cf;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__search {
      height: 42px;
      font-size: 14px;
      position: relative;
    }

    &__input {
      width: 243px;
      height: 100%;
      outline: none;
      border: none;
      background-color: #2c2c2c;
      color: #fff;
      padding-left: 48px;
      position: relative;
      border-radius: 33px;

      &::placeholder {
        color: #fff;
      }
    }

    &__search:before {
      content: url('../img/search.png');
      width: 16px;
      height: 16px;
      position: absolute;
      left: 21px;
      top: 13px;
      display: block;
      z-index: 1;
    }
  }

  &-main {
    &-slider {
      height: 479px;
      margin-top: 22px;
      position: absolute!important;
      max-height: 479px;
    }

    &-slide {
      position: relative;

      &__controls {
        position: relative;
        top: 245px;
        display: flex;
        justify-content: space-between;
        width: 85%;
        z-index: 100;
        margin: auto;
      }

      &__content {
        position: absolute;
        bottom: 42px;
        left: 80px;
      }

      &__title {
        font-size: 42px;
        color: #ffffff;
        font-weight: 700;
        margin: 0;
      }

      &__label {
        color: #c6c6c6;
        font-size: 14px;
      }

      &__text {
        margin-right: 12px;
        text-transform: uppercase;

        &:last-child {
          font-weight: 700;
          margin-right: 0;
        }
      }

      &__prev {
        margin-left: 80px;
        background: transparent url(../img/arrow.png)no-repeat;
        width: 27px;
        height: 42px;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
          background: transparent url(../img/arrow-hover.png)no-repeat;
          transform: rotate(-180deg);
        }
      }

      &__next {
        margin-right: 80px;
        margin-left: 80px;
        background: transparent url(../img/arrow.png)no-repeat;
        width: 27px;
        height: 42px;
        border: none;
        outline: none;
        transform: rotate(-180deg);
        cursor: pointer;

        &:hover {
          background: transparent url(../img/arrow-hover.png)no-repeat;
          transform: rotate(0deg);
        }
      }
    }

    &--page-list {
      .ladines__container {
        padding-top: 1px;
      }
      .ladines-main-block__item {
        margin-bottom: 40px;
      }
    }

    &--page-news {
      .ladines__container {
        padding-top: 1px;
      }
      .ladines-main-block__item {
        margin-bottom: 40px;
      }
    }

    &-block {
      margin-top: 67px;

      &__carousel {
        border: 11px solid #1dee93;
        margin: 70px -35px 0;
        background: #fff;
        padding: 44px 0 30px;
        position: relative;

        .owl-item {
          padding: 15px 0 0;
        }

        .ladines-main-block__item {
          &:hover {
            .ladines-main-block__img {
              transform: scale(1.05);
              transition: .5s;
            }
          }
        }

        .ladines-main-block__container {
          padding: 0 73px;
          width: auto;
        }

        &-btn {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: space-between;
          top: 49%;
        }

        &-left {
          background: transparent url(../img/arrow-hover.png)no-repeat;
          width: 27px;
          height: 42px;
          margin-left: 24px;
          transform: rotate(-180deg);
          border: none;
          outline: none;
          cursor: pointer;
          position: relative;
          z-index: 100;
        }

        &-right {
          background: transparent url(../img/arrow-hover.png)no-repeat;
          width: 27px;
          height: 42px;
          margin-right: 24px;
          border: none;
          outline: none;
          cursor: pointer;
          position: relative;
          z-index: 100;
        }
      }

      &__item {
        display: block;
        text-decoration: none;
        color: #000000;
        width: 195px;

        &--lg {
          width: 294px;

          .ladines-main-block__img {
            width: 294px;
            height: 286px;
          }
        }

        &:hover {
          .ladines-main-block__text {
            color: #2ba5cf;
          }
        }
      }

      &__btn {
        margin: 36px auto 0;
      }

      &__img {
        width: 195px;
        height: 286px;
      }

      &__header {
        text-align: left;
        color: #ffffff;
        font-weight: 700;
        font-size: 40px;
        margin: 0;
      }

      &__container {
        display: flex;
        margin-top: 37px;
        justify-content: space-between;
      }

      &__title {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        line-height: 22px;
        margin: 15px 0 0 0;
      }

      &__subtitle {
        text-align: left;
        color: #c6c6c6;
        font-size: 16px;
        margin-top: 10px;
      }

      &__text {
        font-size: 26px;
        color: #ffffff;
        height: 120px;
        overflow: hidden;
      }

      &__elem {
        color: #c6c6c6;
        font-size: 12px;
        margin-right: 12px;

        &:last-child {
          font-weight: 700;
          text-transform: uppercase;
          margin-right: 0;
        }
      }
    }
  }

  &-news {
    &-block {
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 30px;

      &__head {
        font-size: 20px;

        span {
          &:after {
            content: '/';
            display: inline-block;
            margin: 0 3px;
          }

          &:last-child {
            &:after {
              content: '';
            }
          }
        }
      }

      &__sort {
        width: 440px;

        &-input {
          display: none;
        }

        &-text {
          position: absolute;
          display: block;
          top: 0;
          padding-left: 10px;
        }

&-select
{
  display: inline-block;
  width: 160px;
  height: 34px;
  line-height: 30px;
  position: relative;
}

&-select:before
{
  content: ">";
  display: inline-block;
  background: white;
  position: absolute;
  right: -5px;
  top: 2px;
  z-index: 2;
  width: 30px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  border: 2px solid #ddd;
  transform: rotate(90deg);
  cursor: pointer;
}

&-select input[name="list"]:not(:checked) ~ .ladines-news-block__sort-text
{
  color: black;
  background: white;
}

&-select input[name="list"]:checked ~ .ladines-news-block__sort-text
{
  background: transparent;
  color: transparent;
  z-index: 2;
}

.ladines-news-block__sort-select#select:disabled ~ .items .ladines-news-block__sort-text
{
  background: #eee;
}

.items
{
  display: block;
  min-height: 30px;
  position: absolute;
  border: 2px solid #ddd;
  overflow: hidden;
  width: 160px;
  cursor: pointer;
}

.ladines-news-block__sort-select#select:not(:checked) ~ .ladines-news-block__sort-items
{
  height: 30px;
}

.items label
{
  border-top: 2px solid #ddd;
  display: none;
  padding-left: 10px;
  background: white;
}

.items label:hover
{
  background: #eee;
  cursor: pointer;
}

#select:checked ~ .items
{
  padding-top: 30px;
}

#select:checked ~ .items label
{
  display: block;
}

.items input:checked + label
{
  display: block!important;
  border: none;
  background: white;
}

#select:checked ~ .bg
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: rgba(0,0,0,0.4);
}

a
{
  display: block;
  width: 160px;
  text-align: center;
  padding: 5px 0;
  color: black;
  text-decoration: none;
  border: 2px solid #ddd;
}

a:hover
{
  cursor: pointer;
  border-color: red;
}
      }

      &__content {
        width: 630px;
        display: flex;
        justify-content: space-between;
      }

      &__img {
        border-radius: 8px;
        width: 333px;
      }

      &__header {
        line-height: 40px;
        font-size: 30px;
        width: 266px;
        font-weight: 400;
        margin: 0;
      }

      &__btn {
        margin: 120px auto 0;
      }
    }
  }

  &-not-found {
    text-align: center;
    margin: auto;

    &__img {
      margin-bottom: 100px;
    }

    &__text {
      margin: 0 0 28px;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      color: #c6c6c6;
    }

    &__subtext {
      color: #c6c6c6;
      font-size: 20px;

      a {
        color: #f79b26;
        text-decoration: none;
      }
    }
  }

  &-contacts {
    &__block {
      padding: 150px 0px 70px;
      position: relative;

      &:last-child {
        padding: 90px 0 150px;

        .ladines-contacts__header,
        .ladines-contacts__subheader {
          color: #f79b26;
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 8px;
        width: 100%;
        background-image: linear-gradient(to right, #f79627 0%, #ee542e 19%, #b3407e 39%, #77417a 57%, #2264af 79%, #2faecd 100%);
      }
    }

    &__header {
      font-size: 48px;
      font-weight: 900;
      color: #ffffff;
      margin: 0 0 43px;
    }

    &__subheader {
      font-size: 30px;
      font-weight: 700;
      color: #ffffff;
    }

    &__text {
      color: #c6c6c6;
      font-size: 20px;
      margin: 70px 0 0 0;
    }
  }

  &-inner {
    &__block {
      padding: 74px 196px 39px;

      &-poster {
        padding-top: 39px;
      }

      &-container {
        padding-top: 68px;

        &.ladines-main-block {
          margin: 0;
        }

        &:last-child {
          padding: 0 0 130px;
        }
      }

      &:last-child {
        padding: 85px 49px;
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;

      &-description {
        max-width: 580px;
        padding-top: 20px;
      }

      &-slide {
        color: #1c433f;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 0.26px;
        text-transform: uppercase;
        cursor: pointer;
        margin: 14px 0 0 0;
      }

      &-list {
        margin-bottom: 25px;
        font-size: 20px;
      }

      &-item {
        margin-bottom: 12px;

        span {
          width: 110px;
          display: inline-block;

          &:last-child {
            width: auto;
            font-weight: 700;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-text {
        font-size: 18px;
        line-height: 26px;
        height: 176px;
        overflow: hidden;
      }
    }

    &__header {
      text-transform: uppercase;
      font-size: 48px;
      font-weight: 900;
      color: #141414;
      margin: 0;
    }

    &__subheader {
      font-size: 20px;
      font-weight: 400;
      color: #1c433f;
      margin: -5px 0 40px;
    }

    &__video {
      position: relative;

      &-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
      }

      &-btn {
        background: url(../img/play.png)no-repeat;
        margin: auto;
        display: block;
        border: none;
        outline: none;
        width: 78px;
        height: 78px;
        cursor: pointer;
        z-index: 1;
      }
    }
  }

  &-article {
    &-block {
      padding: 65px 0 0;

      &__header {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        color: #fff;
      }

      &__poster {
        margin-top: 56px;
      }

      &__content {
        padding: 73px 54px 94px 0px;

        &--left {
          padding-right: 60px;
        }
      }

      &__subheader {
        margin: 0 0 38px;
        font-size: 30px;
        font-weight: 700;
        color: #c6c6c6;
      }

      &__text {
        margin: 0 0 38px;
        font-size: 20px;
        color: #c6c6c6;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__subposter {
        margin-left: 0;
        margin-bottom: 63px;
      }

      &__quote {
        padding: 49px 64px;
        font-weight: 700;
        font-size: 30px;
        border: 4px solid #ffffff;
        color: #fff;
      }

      &__promo {
        margin-top: 26px;
      }

      &__related {
        margin-top: 111px;

        &-header {
          font-size: 29px;
          font-weight: 700;
          color: #f79b26;
          margin-bottom: 23px;
        }
      }
    }
  }
}
