main.ladines-main.ladines-main--page-news
  .ladines__container.ladines__container--white.ladines__container--main
    section.ladines-main-block.grid.grid-column
      .ladines-news-block__top.grid.grid-v-between
        h2.ladines-main-block__header Новости
        .ladines-news-block__sort.grid
          p Показать1
          .ladines-news-block__sort-container
            label.ladines-news-block__sort-select(for='select')
              input.ladines-news-block__sort-input#bg(type='radio' name='list' value='not_changed' checked='')
              input.ladines-news-block__sort-input#select(type='radio' name='list' value='not_changed')
              label.bg(for='bg')
              .items
                input.ladines-news-block__sort-input(type='radio' name='list' value='first_value' id='list[0]')
                label(for='list[0]') First option
                input.ladines-news-block__sort-input(type='radio' name='list' value='second_value' id='list[1]')
                label(for='list[1]') Second loooooong option
                span.ladines-news-block__sort-text Select something...1
      .ladines-main-block__container.grid.grid-wrap
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice 
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice 
      button.ladines-news-block__btn.btn.btn-default(type="button") Загрузить еще
        img(src="img/more.png", alt="More")
        